POSTGRES_URL_ASYNC=postgresql+asyncpg://postgres:postgres@postgres:5432/mydb
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/mydb
SECRET_KEY=b6936640e7eb4916a993f7ce44da0ba2
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES = 15
REFRESH_TOKEN_EXPIRE_DAYS = 30
URL_EXPIRE_DAYS = 7
REDIS_URL=redis://dragonfly:6379/0
POOL_SIZE=10
MAX_OVERFLOW=20
POOL_TIMEOUT=30
POOL_RECYCLE=1800
NANO_CODE_STRING=abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789